.consultants {
  margin: 0 auto;
  padding-bottom: 100px;
  &__title {
    margin-bottom: 55px;
    text-align: center;
    font-size: 35px;
    line-height: 50px;
    letter-spacing: 0.03em;
    color: #2b3042;
  }
  &-list {
    display: flex;
    justify-content: center;
    .consultants-card {
        margin-bottom: 250px;
      &:not(:last-child) {
        margin-right: 30px;
      }
      width: 342px;
      
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      &__img {
        width: 334px;
        height: 335px;
      }
    }
    .consultants-informations {
      padding: 28px 24px 29px 20px;
     
      width: 290px;
      background-color: #f9fcff;
      text-align: center;
      border-radius: 10px;
      box-shadow: 15px 30px 120px rgba(16, 51, 140, 0.1);
      position: absolute;
      bottom: -55px;
      &__name {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #2b3042;
      }
      &__text {
        font-weight: 400;
        font-size: 14px;
        color: #9faab9;
      }
    }
  }
}
